<h1> <%= @post.title %>  </h1>
<%= my_link_to(@post.url, @post.url) unless @post.url.nil? %>

<pre>
  <%= @post.content %>
</pre>

<ul>
  <% @subs.each do |sub| %>
    <li><%= my_link_to(sub_url(sub), sub.title) %></li>
  <% end %>
</ul>
